h4 {
  font-size: medium;
  line-height: 2;
  margin-bottom: 0;
  padding-left: 15px;
}
form {
  padding: 0;
  padding-right: 15px;
}
h1 {
  font-size: 80px;
  margin-bottom: 5px;
  padding-top: 110px;
}
a {
  color: black;
}
h1,
footer,
.weather-details,
.wind-details,
.temperature {
  text-align: center;
}

h1,
.weather-desc {
  font-family: "Indie Flower", cursive;
}

.weather-details {
  margin-bottom: 100px;
  line-height: 1.2;
}
.weather-desc {
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}
.weather-desc,
.wind-details,
.temperature {
  margin-bottom: 0;
}
.temperature {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 50px;
}

.units {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.unit {
  font-size: 15px;
}
.cel {
  line-height: 2;
}
.card,
.clear-night,
.few-clouds,
.broken-overcast-clouds,
.night-clouds,
.rain,
.thunderstorm,
.snow,
.mist {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  max-width: 90%;
  padding-top: 10px;
  position: static;
}
.card {
  background-image: url("img/imgs/clear-day.jpg");
  color: rgba(0, 0, 0, 0.7);
}
.clear-night {
  background-image: url("img/imgs/clear-night.jpg");
  color: #f2f2f1;
}
.night-clouds {
  background-image: url("img/imgs/night-clouds.jpg");
  color: #f2f2f1;
}
.few-clouds {
  background-image: url("img/imgs/few-clouds.jpg");
  color: rgba(0, 0, 0, 0.7);
}
.broken-overcast-clouds {
  background-image: url("img/imgs/broken-overcast-clouds.jpg");
  color: black;
}

.rain {
  background-image: url("img/imgs/rain.jpg");
  color: black;
}
.mist {
  background-image: url("img/imgs/mist.jpg");
  color: rgba(0, 0, 0, 0.7);
}
.thunderstorm {
  background-image: url("img/imgs/thunderstorm.jpg");
  color: #f8e5ea;
}
.snow {
  background-image: url("img/imgs/snow.jpg");
  color: #48484a;
}

.current-location {
  padding: 1px 8.5px;
}
.current-location,
.search-input-box,
.submit-button {
  background-color: transparent;
  border: 1px solid rgb(194, 188, 188);
  border-radius: 4px;
}
.current-location,
.submit-button {
  transition: all 150ms ease;
}
.current-location:hover,
.submit-button:hover {
  cursor: pointer;
  background-color: rgb(194, 188, 188);
}
.weather-forecast {
  line-height: 2.5;
  text-align: center;
  padding-bottom: 20px;
}
.unit-styling {
  font-weight: bolder;
}
.unit-styling:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}
.search-input-box {
  color: rgb(194, 188, 188);
}
